<section id="hero" class="hero">
  <div class="hero-body">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url('{{ "images/main1.jpg" | absURL }}');"></div>
        <div class="swiper-slide" style="background-image:url('{{ "images/main2.jpg" | absURL }}');"></div>
        <div class="swiper-slide" style="background-image:url('{{ "images/main3.jpg" | absURL }}');"></div>
      </div>
    </div>

    <!-- 🔹 커스텀 슬라이드 인디케이터 -->
    <div class="header-content-slider">
      <div class="header-slide-btn" data-index="0">
        <div class="header-content-slider-title">01</div>
        <div class="progress-bar"><div class="progress-fill"></div></div>
      </div>
      <div class="header-slide-btn" data-index="1">
        <div class="header-content-slider-title">02</div>
        <div class="progress-bar"><div class="progress-fill"></div></div>
      </div>
      <div class="header-slide-btn" data-index="2">
        <div class="header-content-slider-title">03</div>
        <div class="progress-bar"><div class="progress-fill"></div></div>
      </div>
    </div>
  </div>
</section>


<section id="sub-image" class="section" style="padding: 0 !important;  font-size: 0;">
  <div class="container has-text-centered" style="margin: 0 !important; max-width: 100%;">
    <img data-aos="fade-up" src="{{ "images/body1.jpg" | absURL }}" alt="body1" style="max-width:100%;">
    <img id="about" data-aos="fade-up" src="{{ "images/body2.jpg" | absURL }}" alt="body2" style="max-width:100%;">
    <img id="product" data-aos="fade-up" src="{{ "images/body3.jpg" | absURL }}" alt="body3" style="max-width:100%;">
    <img data-aos="fade-up" src="{{ "images/body4.jpg" | absURL }}" alt="body4" style="max-width:100%;">
    <img data-aos="fade-up" src="{{ "images/body5.jpg" | absURL }}" alt="body5" style="max-width:100%;">
    <img id="contact" data-aos="fade-up" src="{{ "images/body6.jpg" | absURL }}" alt="body6" style="max-width:100%;">
  </div>
</section>
