<section id="hero" class="hero">
  <div class="hero-body">
    <div class="swiper mySwiper" style="height:100%;">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url('{{ "images/main1.png" | absURL }}');"></div>
        <div class="swiper-slide" style="background-image:url('{{ "images/main2.png" | absURL }}');"></div>
        <div class="swiper-slide" style="background-image:url('{{ "images/main3.png" | absURL }}');"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
